html, body {
	margin: 0px;
	/* Comentario en CSS*/
	padding: 0px;
	/* Los margenes son reducidos a 0*/
	font-family: Segoe UI, Century Gothic, Verdana, Arial;
	background: #15202B;
}

body {
	margin 0 auto;
	font-family: Arial;
	font-size: 11px;
	color: #FFF;
}

a, img {
	outline: none;
	border: none;
}

.btn_dets {
	background-color: #AAA;
	color: rgb(97, 97, 97);
	border: none;
	outline: none;
	margin-top: 24%;
}

.btn_dets:hover {
	color: #ffffff;
	cursor: pointer;
}

.detalles {
	display: none;
}

.servicios {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	width: 40% auto;
	border-radius: 8px;
	background-color: #AAA;
	color: #FFF;
	font-size: 13px;
	padding: 4px;
	overflow: auto;
}

#serv_titulo {
	text-align: center;
	height: 10px;
	margin: 4px;
	margin-top: 18px;
}

#serv_descrip {
	width: 30%;
	height: 40px;
	margin: 4px;
}

.detalles {
	position: absolute;
	width: 85%;
	word-wrap: break-word;
	background-color: #AAA;
}

#post_box {
	position: relative;
	width: auto;
	margin: auto;
	height: 140px;
	top: 0px;
	text-align: center;
	background: #253341;
}

#panel_app {
	position: relative;
	width: 80%;
	border-radius: 5px;
	margin: auto;
	height: 80%;
	background-color: #15202B;
	margin-top: 30px;
}

.main_panel1 {
	position: relative;
	display: block;
	width: 95%;
	margin: auto;
	height: auto;
	overflow: auto;
	border: 1px solid #253341;
	padding: 20px;
}

.main_panel2 {
	display: none;
	width: 95%;
	height: 1000px;
}

#txt_post {
	position: relative;
	border: 1px solid #AAA;
	border-radius: 4px;
	width: 90%;
	height: 50px;
	background: #15202B;
	color: #FFF;
}

.text-danger {
	color: #F00;
}

.cajatexto {
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 300px;
	color: #FFF;
	background: #15202B;
}

.post_block {
	position: relative;
	width: 95%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	background: #15202B;
	height: auto;
	border: 1px solid #253341;
	border-top: 1px solid #1DA1F2;
}

.post_block:hover {
	background: #192734;
}

.published_date {
	font-size: 10px;
	font-family: "Verdana";
	position: relative;
	color: #BBB;
	margin: 5px;
	text-align: right;
}

.post_detail {
	font-size: 14px;
	font-family: "Verdana";
	position: relative;
	color: #FFF;
	margin: 5px;
	text-align: justify;
}

.boton {
	border: 0px;
	background: #1DA1F2;
	color: #FFF;
	height: 34px;
	border-radius: 4px;
	cursor: pointer;
}

#btn_save, #btn_edit {
	position: relative;
	width: 80%;
	margin-top: 10px;
	margin-right: 10px;
}

#btn_logout, #btn_return {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
}

#btn_return {
	background: #3B5998;
}

#btn_logout {
	background: #DC4E41;
}

#btn_search {
	position: relative;
	margin-top: 10px;
}

.imgpost {
	float: left;
	clear: both;
	position: relative;
	top: -18px;
	left: 5px;
	margin-right: 15px;
	border-radius: 100px;
}

#user_box {
	position: relative;
	width: auto;
	height: 200px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #253341;
}

#user_box span {
	float: left;
	clear: both;
	position: absolute;
	top: 22px;
	left: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#user_box2 {
	position: relative;
	width: auto;
	height: 200px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #253341;
}

#user_box2 label {
	float: right;
	clear: both;
	position: absolute;
	top: 22px;
	right: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#photo_profile {
	float: left;
	clear: both;
	position: relative;
	top: 10px;
	left: 10px;
	margin-right: 15px;
	border-radius: 100px;
	border: 3px solid #FFF;
}

#actions {
	position: relative;
	bottom: 5px;
	text-align: right;
}

#actions a {
	font-size: 20px;
	margin: 5px;
	text-decoration: none;
	background: unset;
	border: none;
	cursor: pointer;
}

#btn_editar {
	color: #4CAF50;
}

#btn_eliminar {
	color: #DC4E41;
}

.form-group-photo {
	position: absolute;
	top: 20px;
	left: 400px;
	color: #FFF;
}

.form-group-photo img {
	margin-bottom: 20px;
}

#msg_box_container {
	position: fixed;
	margin-left: auto;
	left: 0;
	right: 10px;
	width: 350px;
	top: 10px;
	z-index: 100;
	font-size: 11px;
	font-family: 'Arial';
}

.msg_box {
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user {
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user span {
	padding-bottom: 10px;
}

.error {
	background: #C00000;
}

.success {
	background: #29CC70;
}

.info {
	background: #1F8DB1;
}

.warning {
	background: #FF9900;
}

@keyframes fadeout {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

a:link, a:visited, a:active {
	text-decoration: none;
}

#divBoton {
	overflow: auto;
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100%;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #253341;
	margin-top: 25px;
	justify-content: center;
}

ul {
	width: 200px;
	text-align: center;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
	list-style: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

ul li {
	width: 150px;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin: 2px;
	margin-top: 25px;
}

ul li:hover {
	background: #555;
	color: #fff;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 200px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

ul li ul li {
	background: #555;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
	background: #666;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

#label {
	font-size: 40px;
}

#label {
	font-size: 40px;
}

#parrafo {
	font-size: 15px;
}

form {
	/* Centrar el formulario en la página */
	margin: 0 auto;
	width: 400px;
	/* Esquema del formulario */
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li+li {
	margin-top: 1em;
}

label {
	/* Tamaño y alineación uniforme */
	display: inline-block;
	width: 90px;
	text-align: right;
}

input, textarea {
	/* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
	   Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
	font: 1em sans-serif;
	/* Tamaño uniforme del campo de texto */
	width: 300px;
	box-sizing: border-box;
	/* Hacer coincidir los bordes del campo del formulario */
	border: 1px solid #999;
}

input:focus, textarea:focus {
	/* Destacado adicional para elementos que tienen el cursor */
	border-color: #000;
}

textarea {
	/* Alinear los campos de texto multilínea con sus etiquetas */
	vertical-align: top;
	/* Proporcionar espacio para escribir texto */
	height: 5em;
}

.button {
	/* Alinear los botones con los campos de texto */
	padding-left: 90px;
	/* mismo tamaño que los elementos de la etiqueta */
}

.button {
	/* Este margen adicional representa aproximadamente el mismo espacio que el espacio
	   entre las etiquetas y sus campos de texto */
	margin-left: .5em;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#submit_button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	width: 100%;
}

#submit_button:hover {
	background-color: #45a049;
}

.row {
	overflow-y: hidden;
	overflow-x: auto;
	width: auto;
	height: 50%;
	padding: 10px;
	white-space: nowrap;
	background-color: #253341;
}

.row>div {
	display: inline-block;
	height: 50%;
	width: 10%;
	margin: 0 10px 0 0;
}

.Imágenes {
	position: relative;
	width: 100%;
	height: 100%;
}

.column {
	width: 50%;
}

.column img {
	opacity: 0.6;
	cursor: pointer;
}

.column img:hover {
	opacity: 1;
}

.row:after {
	overflow: auto;
	content: "";
	clear: both;
}

.container {
	position: relative;
	display: block;
	width:100%;
	height:100%;
	z-index: 0;
}

#expandedImg {
	position: relative;
	width:100%;
	height:100%;
}

#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
}

.nextbtn {
	position: absolute;
	z-index: 1;
	top: 44%;
	left: 97%;
	color: white;
	font-size: 35px;
	cursor: pointer;
}

.beforebtn {
	position: absolute;
	z-index: 1;
	top: 44%;
	left: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
}