html, body {
	margin: 0px;
	/* Comentario en CSS*/
	padding: 0px;
	/* Los margenes son reducidos a 0*/
	font-family: Segoe UI, Century Gothic, Verdana, Arial;
	background: #15202B;
}

body {
	margin 0 auto;
	font-family: Arial;
	font-size: 11px;
	color: #FFF;
}

a, img {
	outline: none;
	border: none;
}

#post_box {
	position: relative;
	width: auto;
	margin: auto;
	height: 140px;
	top: 0px;
	text-align: center;
	background: #253341;
}

#panel_app {
	position: relative;
	width: 80%;
	border-radius: 5px;
	margin: auto;
	height: 80%;
	background-color: #15202B;
	margin-top: 30px;
}

#main_panel{
	position: relative;
	width: 95%;
	margin: auto;
	height: auto;
	overflow: auto;
	border: 1px solid #253341;
	padding: 20px;
}

#txt_post {
	position: relative;
	border: 1px solid #AAA;
	border-radius: 4px;
	width: 90%;
	height: 50px;
	background: #15202B;
	color: #FFF;
}

.text-danger {
	color: #F00;
}

.cajatexto {
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 300px;
	color: #FFF;
	background: #15202B;
}

.post_block {
	position: relative;
	width: 95%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	background: #15202B;
	height: auto;
	border: 1px solid #253341;
	border-top: 1px solid #1DA1F2;
}

.post_block:hover {
	background: #192734;
}

.published_date {
	font-size: 10px;
	font-family: "Verdana";
	position: relative;
	color: #BBB;
	margin: 5px;
	text-align: right;
}

.post_detail {
	font-size: 14px;
	font-family: "Verdana";
	position: relative;
	color: #FFF;
	margin: 5px;
	text-align: justify;
}

.boton {
	border: 0px;
	background: #1DA1F2;
	color: #FFF;
	height: 34px;
	border-radius: 4px;
	cursor: pointer;
}

#btn_save, #btn_edit {
	position: relative;
	width: 80%;
	margin-top: 10px;
	margin-right: 10px;
}

#btn_logout, #btn_return {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
}

#btn_return {
	background: #3B5998;
}

#btn_logout {
	background: #DC4E41;
}

#btn_search {
	position: relative;
	margin-top: 10px;
}

.imgpost {
	float: left;
	clear: both;
	position: relative;
	top: -18px;
	left: 5px;
	margin-right: 15px;
	border-radius: 100px;
}

#user_box {
	position: relative;
	width: auto;
	height: 200px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #253341;
}

#user_box span {
	float: left;
	clear: both;
	position: absolute;
	top: 22px;
	left: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#photo_profile {
	float: left;
	clear: both;
	position: relative;
	top: 10px;
	left: 10px;
	margin-right: 15px;
	border-radius: 100px;
	border: 3px solid #FFF;
}

#actions {
	position: relative;
	bottom: 5px;
	text-align: right;
}

#actions a {
	font-size: 20px;
	margin: 5px;
	text-decoration: none;
	background: unset;
	border: none;
	cursor: pointer;
}

#btn_editar {
	color: #4CAF50;
}

#btn_eliminar {
	color: #DC4E41;
}

.form-group-photo {
	position: absolute;
	top: 20px;
	left: 400px;
	color: #FFF;
}

.form-group-photo img {
	margin-bottom: 20px;
}

#msg_box_container {
	position: fixed;
	margin-left: auto;
	left: 0;
	right: 10px;
	width: 350px;
	top: 10px;
	z-index: 100;
	font-size: 11px;
	font-family: 'Arial';
}

.msg_box {
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user {
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user span {
	padding-bottom: 10px;
}

.error {
	background: #C00000;
}

.success {
	background: #29CC70;
}

.info {
	background: #1F8DB1;
}

.warning {
	background: #FF9900;
}

@keyframes fadeout {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

a:link, a:visited, a:active {
	text-decoration:none;
}

#divBoton{
	overflow: auto;
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100%;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #253341;
	margin-top: 25px;
	justify-content: center;
}

ul {
	width: 200px;
	text-align: center;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
	list-style: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-decoration:none;
}

ul li {
	width: 150px;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin: 2px;
	margin-top: 25px;

}

ul li:hover {
	background: #555;
	color: #fff;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 200px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

ul li ul li {
	background: #555;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
	background: #666;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

#label{
	font-size: 40px;

}

#label{
	font-size: 40px;

}

#parrafo{
	font-size: 15px;

}